.nav {
  height: 65px;
  padding: 10px 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
.logo {
  width: 140px;
  background-color: gainsboro;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.left,
.right {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 25px;
}
.select {
  padding: 5px;
  margin-right: 25px;
  font-size: 16px;
  line-height: 1;
  outline: 0;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background-position-x: 244px;
}

.profile {
  width: 24px;
  height: 24px;
  padding: 3px;
  margin-left: 25px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: #e6f5ff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.notify::after {
  position: absolute;
  content: attr(data-count);
  margin-left: -8px;
  margin-top: -3px;
  font-size: 9px;
  border-radius: 50%;
  color: white;
  background: rgb(255, 0, 0);
  text-align: center;
  width: 14px;
  height: 14px;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
